/* GLOBAL STYLES */

* {
  box-sizing: border-box;
}

body {
  background: #4285f4;
  font-family: "Raleway", sans-serif;
  overflow-x: hidden;
}

A {
  text-decoration: none;
}

main {
  width: 100vw;
  height: 100vh;
}

.container-main {
  width: 100%;
  display: flex;
  justify-content: center;
}

.container-inner {
  width: 75%;
  text-align: center;
}

.title-main {
  color: #E0E0E0;
  font-size: 3rem;
}

.section {
  border: #303030 solid 5px;
  margin-bottom: 1rem;
  padding: 1rem;
}

.section-title {
  color: #E0E0E0;
  margin: 0;
}

.section-link {
  text-decoration: none;
  color: blue;
}

/* GLOBAL STYLES END */

/* Just FYI, you can override my global section styles with #your-section-name .what-you-want-style */

/* Example: changing brandons title color to red
            #section-during .section-title {
              color: red;
            } */

<<<<<<< HEAD
/* Andy's Section  */

.section-link-container {
=======
/* Andy's Section */
#section-pre {
  /* border: #303030 solid 5px; */
}
#section-pre .section-link-container {
>>>>>>> face00615fbf298ed09679e7dd9ce5bb303168cd
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: space-around;
}
<<<<<<< HEAD

.section-link {
  display: flex;
  flex-direction: column;
  background: #e0e0e0;
=======
#section-pre .section-link {
  background: #D0D0D0;
>>>>>>> face00615fbf298ed09679e7dd9ce5bb303168cd
  color: #303030;
  margin-top: 10px;
  border-radius: 5px;
  padding: .5rem 1rem;
  text-align: left;
  box-shadow: 0px 0px 15px -3px rgba(0, 0, 0, 0.2);
}

.type {
  color: #0287D0;
  font-size: 1rem;
  font-weight: bold;
  margin: 0;
}

.title {
  font-size: 1rem;
  font-weight: bold;
  margin: 0;
}

.author {
  opacity: .7;
  font-style: italic;
  font-size: .8rem;
  margin: 0;
}

.description {
  font-size: .9rem;
  margin: 5px 0;
}

/* Brandon's Section */

/* Brett's Section */

/*    ----setup even and odd divs as link buttons----
- Style your div how you want and set it to display block

- set there linear gradient "to" the direction of the intended scroll 
    ie: if you want the box to fill from left to right the linear gradient would 
    "to right"

- set the linear gradient to display all white
 - This was done by setting white to 100%
   and setting the background position to the appropriate side and bottom
   -In context to the "appropriate side" ie: to scroll from left to right
   set the background-position to "left bottem" and on Hover "right bottom"

- transition set to ease on All events this allows
 us to change the background position in a smooth fashion*/

.button-container {
  align-self: center;
  border: 1px solid black;
  border-radius: 3px;
  width: 100px;
  height: 30px;
  display: block;
  background: linear-gradient(to right, #0287D0 50%, white 50%);
  background-size: 200% 100%;
  background-position: right bottom;
  transition: all .5s ease-out;
}

.button-container:hover {
  background-position: left bottom;
}

/* just a simple ease of the link div's font color from 
black to white on hover this should also be displayed as a block*/

.button-container>a {
  text-align: center;
  font-size: 16px;
  line-height: 30px;
  color: black;
  transition: all .6s ease-out;
  display: block;
}

.button-container>a:hover {
  color: white;
}
